html, body {
    height: 100%;
}


a {
    display: block;
    text-decoration: none;
}

p {
    font-family: Roboto;
}

.header {
    font-size: 2em;
    font-weight: bold;
}

.subheader {
    font-size: 1.5em;
    font-weight: normal;
    font-style: italic;
    margin: 0;
}

.menu {
    height: 2em;
    width: 16em;
    text-decoration:none;
    padding: 1em 1em 1em 1em;
    background-color: antiquewhite;
    box-shadow: 0 0.5em 1em 0 lightgray;
    transition: 0.25s;
}

.menu:hover {
    box-shadow: 0 1em 2em 0 lightgray;
}

.options {
    font-size: 1.25em;
    font-weight: bold;
    color: darkslategray;
    display: table-cell;
}

.card {
    height: 4em;
    width: 16em;
    background-color: ghostwhite;
    box-shadow: 0 0.5em 1em 0 lightgray;
    transition: 0.5s;
}

.card:hover {
    box-shadow: 0 1em 2em 0 lightgray;
}

.github {
    position: absolute;
    bottom: 0;
    right: 0;
}

.settings {
    margin-left: 10em;
    margin-right: 10em;
    background-color: ghostwhite;
}

.navbar {
    float: left;
    padding-right: 5em;
    height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15em;
}

li a {
    display: block;
    color: darkslategray;
    padding-left: 2.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 0.125em solid royalblue;
    transition: 0.5s;
}

li a.active {
    background-color: steelblue;
    color: ghostwhite;
}

li a:not(.active):hover {
    padding-left: 4em;
}

.item {
    font-size: 1.25em;
    font-weight: bold;
    font-style: italic;
}

.content {
    height: 100%;
}

.title {
    font-size: 2em;
    font-weight: bold;
    margin-top: 0;
}